.footer__logo__web {
    font-family: "Raleway";
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 31px;
    letter-spacing: 0.003em;
    color: var(--main-blue);
  }
  
  .footer__logo__studio {
    font-family: "Raleway";
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 31px;
    letter-spacing: 0.03em;
    color: var(--main-white);
  }
  
  .footer__contact__logo {
    text-decoration: none;
    font-family: "Raleway";
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 1;
    letter-spacing: 0.03em;
  }
  
  .footer__contact__logo:hover,
  .footer__contact__logo:focus {
    text-decoration: underline;
    color: var(--main-blue);
  }