.footer__social__header {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 700;
    color: var(--main-white);
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 20px;
  }
  
  .footer__social__icons {
      padding-left: 70px;
   
  }

  .footer__social {
    padding-left: 32px;
  }
  
  .footer__social__list {
    width: 206px;
    display: flex;
    list-style: none;
    justify-content: space-between;
    --color5: var(--icon-footer-grey);
    --color3: var(--main-white);
  }