.header__links {
  display: flex;
  gap: 46px;
  list-style-type: none;
  line-height: 0.875;
  align-items: center;
}

.header__links__agency {
  text-decoration: none;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;
  color: var(--black-main);
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

&--active {
    text-decoration: none;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.02em;
    color: var(--main-blue);

    &::after {
        content: "";
        height: 4px;
        display: block;
        width: 100%;
        background-color: var(--main-blue);
        border-radius: 2px;
        position: relative;
        top: 31px;
    }
       
  }

&:hover,
&:focus {
    color: var(--main-blue);
}
}



.header__links__portfolio {
  text-decoration: none;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;
  color: var(--black-main);
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

&--active {
    text-decoration: none;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;
  color: var(--main-blue);

&::after {
    content: "";
  height: 4px;
  display: block;
  width: 100%;
  background-color: var(--main-blue);
  border-radius: 2px;
  position: relative;
  top: 31px;
}
}

&:hover,
&:focus {
    color: var(--main-blue);
}
}


.header__links_contact {
  display: flex;
  text-decoration: none;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;
  color: var(--black-main);
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
      color: var(--main-blue);
  }
}

// .header__links_contact:hover,
// .header__links_contact:focus {
//   color: var(--main-blue);
// }


//   .header__links__agency--active {
//     text-decoration: none;
//     font-style: normal;
//     font-weight: 500;
//     font-size: 14px;
//     line-height: 16px;
//     letter-spacing: 0.02em;
//     color: var(--main-blue);
//   }

// .header__links__agency:hover,
// .header__links__agency:focus {
//   color: var(--main-blue);
// }

// .header__links__agency--active::after {
//   content: "";
//   height: 4px;
//   display: block;
//   width: 100%;
//   background-color: var(--main-blue);
//   border-radius: 2px;
//   position: relative;
//   top: 31px;
// }

// .header__links__portfolio--active {
//   text-decoration: none;
//   font-style: normal;
//   font-weight: 500;
//   font-size: 14px;
//   line-height: 16px;
//   letter-spacing: 0.02em;
//   color: var(--main-blue);
// }

// .header__links__portfolio--active::after {
//   content: "";
//   height: 4px;
//   display: block;
//   width: 100%;
//   background-color: var(--main-blue);
//   border-radius: 2px;
//   position: relative;
//   top: 31px;
// }

// .header__links__portfolio:hover,
// .header__links__portfolio:focus {
//   color: var(--main-blue);
// }
