.header {
  border-bottom: 1px solid var(--border-grey);
  height: 60px;
  display: flex;
  align-items: center;
}

@media (min-width: 768px) {
  .header {
    height: 80px;
  }
}

.header__content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@media (min-width: 768px) {
  .header__content {
    justify-content: flex-start;
    
  }
}

@media (min-width: 768px) {
  .header__wrapper {
    padding-left: 83px;
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
  }
}

@media (min-width: 1200px) {
  .header__wrapper {
    padding-left: 93px;
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
  }
}

.header__logo {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  letter-spacing: 0.03em;
  text-decoration: none;
  display: flex;
  align-items: center;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus,
  &::after {
    text-decoration: underline;
    color: var(--main-blue);
  }
}

@media (min-width: 1200px) {
  .header__logo {
    font-size: 26px;
  }
}

.header__logo-web {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  letter-spacing: 0.03em;
  color: var(--main-blue);
}

@media (min-width: 1200px) {
  .header__logo-web {
    font-size: 26px;
  }
}

.header__logo-studio {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  letter-spacing: 0.03em;
  color: var(--second-black);
}

@media (min-width: 1200px) {
  .header__logo-studio {
    font-size: 26px;
  }
}

.header__links {
  display: none;
}

@media (min-width: 768px) {
  .header__links {
    
    display: flex;
    gap: 60px;
    list-style-type: none;
    line-height: 0.875;
    align-items: center;
    
  }
}

@media (min-width: 1200px) {
  .header__links {
    gap: 46px;
    // display: flex;
    // list-style-type: none;
    // line-height: 0.875;
    // align-items: center;
    }
}

.header__links-agency {
  text-decoration: none;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;
  color: var(--black-main);
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

  &--active {
    color: var(--main-blue);

    &::after {
      content: "";
      height: 4px;
      display: block;
      width: 100%;
      background-color: var(--main-blue);
      border-radius: 2px;
      position: relative;
      top: 31px;
    }
  }

  &:hover,
  &:focus {
    color: var(--main-blue);
  }
}

@media (min-width: 1200px) {
  .header__links-agency {
    // font-size: 14px;
  }
}

.header__links-portfolio {
  text-decoration: none;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;
  color: var(--black-main);
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

  &--active {
    color: var(--main-blue);

    &::after {
      content: "";
      height: 4px;
      display: block;
      width: 100%;
      background-color: var(--main-blue);
      border-radius: 2px;
      position: relative;
      top: 31px;
    }
  }

  &:hover,
  &:focus {
    color: var(--main-blue);
  }
}

@media (min-width: 1200px) {
  .header__links-portfolio {
    font-size: 14px;
  }
}

.header__links-contact {
  display: flex;
  text-decoration: none;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;
  color: var(--black-main);
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    color: var(--main-blue);
  }
}

@media (min-width: 1200px) {
  .header__links-contact {
    font-size: 14px;
  }
}

.header__contact {
  display: none;
  // height: 100%;
}

@media (min-width: 768px) {
  .header__contact {
    line-height: 0.875;
    display: block;
    list-style-type: none;
    height: 38px;
    font-size: 12px;
  }
}

@media (min-width: 1200px) {
  .header__contact {
    line-height: 0.875;
    display: flex;
    list-style-type: none;
    gap: 30px;
    align-items: center;
    // flex-grow: 1;
  }
}

.header__contact-element {
  fill: var(--main-silver);
  text-decoration: none;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;
  color: var(--main-silver);
  display: flex;
  flex-wrap: nowrap;
}

@media (min-width: 768px) {
  .header__contact-element {
    font-size: 12px;
  }
}

@media (min-width: 1200px) {
  .header__contact-element {
    fill: var(--main-silver);
    text-decoration: none;
    font-style: normal;
    font-weight: 500;
    
    line-height: 16px;
    letter-spacing: 0.02em;
    color: var(--main-silver);
    display: flex;
    align-items: center;

    &:hover,
    &:focus {
      fill: var(--main-blue);
      color: var(--main-blue);
    }
  }
}

.header__contact-element--transformation {
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

@media (min-width: 768px) {
  .header__contact-icon {
    margin-right: 8px;
  }
}

@media (min-width: 1200px) {
  .header__contact-icon {
    margin-right: 8px;
  }
}
