.header__logo {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 31px;
  letter-spacing: 0.01em;
  text-decoration: none;
  display: flex;
  align-items: center;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus,
  &::after {
    text-decoration: underline;
    color: var(--main-blue);
  }
}

.header__logo__web {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 31px;
  letter-spacing: 0.003em;
  color: var(--main-blue);
}

.header__logo__studio {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 31px;
  letter-spacing: 0.03em;
  color: var(--second-black);
}

//   .header__logo:hover,
//   .header__logo:focus,
//   .header__logo::after {
//     text-decoration: underline;
//     color: var(--main-blue);
//   }

//   .header__logo::after {
//     text-decoration: underline;
//     color: var(--main-blue);
//   }

// &__web {
//     letter-spacing: 0.003em;
// color: var(--main-blue);
// }

// &__studio {
//     letter-spacing: 0.03em;
// color: var(--second-black);
// }

// &:focus {
//     text-decoration: underline;
//     color: var(--main-blue);
// }

// &::after {
//     text-decoration: underline;
//     color: var(--main-blue);
// }
