body {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
      Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    line-height: 1.5;
    color: #212121;
    background-color: #fff;
  }
  
//   .container {
//     min-width: 320px;
//     max-width: 1170px;
//     padding-left: 15px;
//     padding-right: 15px;
//     margin-left: auto;
//     margin-right: auto;
//   }
  
  .menu-toggle {
    min-height: 40px;
    min-width: 40px;
    background-color: transparent;
    cursor: pointer;
    border: none;
    border-radius: 50%;
    outline: none;
    color: black;
    &:hover,
    &:focus {
      background-color: transparent;
      color: var(--main-blue);
    }
  
    @media (min-width: 768px) {
      display: none;
      
    }
  }
  .js-open-menu {
    position: absolute;
    right:15px;
    bottom:7px;
  }
  
  .menu-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    padding: 32px;
    background-color: white;
    z-index: 999;
    transform: translateX(100%);
    transition: transform 250ms ease-in-out;
    &.is-open {
      transform: translateX(0);
    }
  }
  
  .mobile-menu {
    &__list {
      display: flex;
      padding: 0;
      margin: 0;
      list-style: none;
      text-decoration: none;
      flex-direction: column;
      font-size: 40px;
      color: black;
      @media (min-width: 767px) {
        display: none;
      }
  
      &link {
        padding: 10px;
        display: block;
        padding: 10px;
        color: black;
        text-decoration: none;
      }
  
      &link &hover,
      &link &focus {
        color: var(--main-blue);
      }
    }
  
    &__link-contact {
      display: flex;
      flex-direction: column;
    }
    &__list-contact {
      padding-top: 240px;
      margin-left: -30px;
      display: flex;
      flex-wrap: wrap;
      flex-direction: column;
      justify-content: space-between;
      gap: 30px;
    }
  
    &__link-contact-tel {
      font-weight: 500;
      font-size: 24px;
      line-height: 0.4;
      letter-spacing: 0.02em;
      color: rgba(117, 117, 117, 1);
      @media screen and (min-width: 480px) {
        font-size: 34px;
      }
    }
  
    &__link-contact-mailto {
      font-weight: 500;
      font-size: 20px;
      line-height: 0.28;
      letter-spacing: 0.02em;
      color: var(--primary-color);
      @media screen and (min-width: 480px) {
        font-size: 34px;
      }
    }
  
    &__list-social {
      padding-top: 40px;
      margin-left: -30px;
      display: flex;
      flex-wrap: wrap;
      gap: 10px;
    }
    &__link-social {
      font-weight: 500;
      font-size: 10px;
      line-height: 0.22;
      letter-spacing: 0.02em;
      color: var(--secondary-color);
      @media screen and (min-width: 480px) {
        font-size: 18px;
      }
    }
    &__item-social:not(:last-child) &__link-social {
      padding-right: 10px;
      border-right: 1px solid rgba(33, 33, 33, 0.2);
    }
    & a:visited{
      color: var(--black-main);}
    }
  
  .js-close-menu {
    position: absolute;
    right: 20px;
  }