.display-none {
  display: none;
}

.mobile-menu {
  position: fixed;
  width: 100vw;
  height: 100vh;
  left: 0px;
  top: 0px;
  background: var(--main-white);
  z-index: 1;
  transition: scale(1);
  transition-duration: 1s;
  transition-timing-function: ease;
}

.mobile-menu__button-open {
  fill: var(--black-main);
  border: 0;
  background-color: var(--main-white);
  position: absolute;
  width: 24px;
  height: 16px;
  top: 21px;
  right: 25.33px;
}

@media (min-width: 768px) {
  .mobile-menu__button-open {
    display: none;
  }
}

@media (min-width: 1200px) {
  .mobile-menu__button-open {
    display: none;
  }
}

.mobile-menu__button-close {
  position: absolute;
  top: 21px;
  right: 25.33px;
  width: 18.67px;
  height: 18.67px;
  fill: var(--black-main);
  border: 0;
  background-color: var(--main-white);
}

@media (min-width: 768px) {
  .mobile-menu__button-close {
    display: none;
  }
}

@media (min-width: 1200px) {
  .mobile-menu__button-close {
    display: none;
  }
}

.mobile-menu__links {
  padding-left: 40px;
  padding-top: 48px;
  list-style: none;
  margin-bottom: 302px;
}

.mobile-menu__links-agency {
  display: block;
  text-decoration: none;
  font-style: normal;
  font-weight: 500;
  font-size: 40px;
  line-height: 47px;
  padding-bottom: 32px;
  letter-spacing: 0.02em;
  color: var(--black-main);
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.mobile-menu__links-portfolio {
  display: block;
  text-decoration: none;
  font-style: normal;
  font-weight: 500;
  font-size: 40px;
  line-height: 47px;
  padding-bottom: 32px;
  letter-spacing: 0.02em;
  color: var(--black-main);
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.mobile-menu__links-contact {
  display: block;
  text-decoration: none;
  font-style: normal;
  font-weight: 500;
  font-size: 40px;
  line-height: 47px;
  letter-spacing: 0.02em;
  color: var(--black-main);
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

  &--active {
    color: var(--main-blue);
  }
}

.mobile-menu__contact {
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
  padding-left: 40px;
  height: 100px;
  align-content: space-between;
}

.mobile-menu__contact-element-phone {
  color: var(--main-blue);
  text-decoration: none;
  font-weight: 500;
  font-size: 34px;
  line-height: 40px;
  letter-spacing: 0.02em;
}

.mobile-menu__contact-element-mail {
  color: var(--main-silver);
  text-decoration: none;
  font-weight: 500;
  font-size: 24px;
  line-height: 28px;
  letter-spacing: 0.02em;
}

.mobile-menu__social {
  padding-left: 30px;
  margin-top: 64px;
  display: flex;
  list-style: none;
}

.mobile-menu__social-item {
  text-decoration: none;
  color: var(--main-blue);
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  letter-spacing: 0.02em;
  padding-right: 10px;
  padding-left: 10px;
  border-right: 1px solid rgba(33, 33, 33, 0.2);
}

.mobile-menu__social-item--Linkedin {
  text-decoration: none;
  color: var(--main-blue);
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  letter-spacing: 0.02em;
  padding-right: 10px;
  padding-left: 10px;
}
