.portfolio__buttons {
    padding-top: 100px;
    padding-bottom: 56px;
    display: flex;
    width: 100%;
    align-items: center;
  }

  .portfolio__buttons__list {
    padding: 0;
    list-style-type: none;
    display: flex;
    justify-content: space-evenly;
    margin-left: auto;
    margin-right: auto;
  }