.purchase__modal__form {
  margin-bottom: 28px;
  position: relative;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

  &:has(input:focus) svg {
    fill: var(--main-blue);
  }
}

.purchase__modal__input {
  margin-left: 40px;
  box-sizing: border-box;
  padding-left: 42px;
  width: 448px;
  height: 40px;
  outline: 0;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  font-size: 12px;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

  &:focus-within {
    border: 1px solid var(--main-blue);
  }
}

.purchase__modal__icon {
  z-index: 1;
  position: absolute;
  left: 55px;
  top: 14px;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.purchase__modal__label {
  left: 40px;
  position: absolute;
  top: -20px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  color: var(--main-silver);
}

.modal-form-label-comment {
  position: absolute;
  top: -20px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  color: var(--main-silver);
}

.purchase__modal__comment {
  box-sizing: border-box;
  position: relative;
  margin-left: 40px;
  width: 448px;
  height: 120px;
}

.purchase__modal__comment__input {
  box-sizing: border-box;
  resize: none;
  width: 448px;
  height: 100%;
  padding-left: 16px;
  padding-top: 12px;
  outline: 0;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

  &:focus-within {
    border-color: var(--main-blue);
    border: 1px solid var(--main-blue);
  }
}

.purchase__modal__statement {
  position: relative;
  width: 528px;
  height: 74px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.03em;
  color: var(--main-silver);
}

.purchase__modal__checkbox {
  opacity: 0;
  width: 16px;
  height: 15px;
  position: absolute;
  top: 25px;
  left: 55px;

  &:checked + span {
    fill: var(--main-white);
    background-color: var(--main-blue);
    border: 1px solid var(--main-blue);
    border-radius: 2px;
    outline: var(--main-blue);
  }
}

.purchase__modal__checkbox--border {
  box-sizing: border-box;
  position: absolute;
  top: 25px;
  left: 55px;
  width: 16px;
  height: 15px;
  border: 1px solid var(--black-main);
  border-radius: 2px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  fill: var(--main-white);
}

.purchase__modal__statement--text {
  position: absolute;
  top: 20px;
  left: 79px;
}

.purchase__modal__statement--text--silver {
  color: var(--main-silver);
}

.purchase__modal__statement--text--underline {
  text-decoration: underline;
  color: var(--main-blue);
}
