.purchase__modal__button--close {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 8px;
  left: calc(528px - 8px - 30px);
  width: 30px;
  height: 30px;
  background-color: var(--main-white);
  cursor: pointer;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
}

.purchase__modal__button {
  display: flex;
  justify-content: center;
}

.purchase__modal__button--send {
  width: 200px;
  height: 50px;
  left: 700px;
  top: 712px;
  background: var(--main-blue);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: 0;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 30px;
  text-align: center;
  letter-spacing: 0.06em;

  color: var(--main-white);

  &:hover,
  &:focus {
    cursor: pointer;
  }
}

.purchase__button {
  justify-content: center;
  align-items: center;
  display: flex;
  width: 200px;
  height: 50px;
  border: 0;
  background: var(--second-white);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  color: var(--black-main);
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    background: var(--main-blue);
    color: var(--main-white);
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
      0px 2px 2px rgba(0, 0, 0, 0.12);
    border-radius: 4px;
    cursor: pointer;
  }
}

.footer__button {
    margin-left: 12px;
    position: relative;
    border: none;
    width: 200px;
    height: 50px;
    background: #2196f3;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    cursor: pointer;
    font-family: "Roboto";
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 30px;
    display: flex;
    align-items: center;
    padding-left: 42px;
    letter-spacing: 0.06em;
    color: #ffffff;
    fill: var(--main-white);
  }
  
  .footer__button svg {
    position: absolute;
    left: 148px;
  }

  .portfolio__buttons--design {
    background: var(--second-white);
    border: none;
    font-family: "Roboto";
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--black-main);
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
      background: var(--main-blue);
      color: var(--main-white);
      box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
        0px 2px 2px rgba(0, 0, 0, 0.12);
      border-radius: 4px;
      cursor: pointer;
    }
  }
  
  .portfolio__button--1 {
    width: 121px;
    height: 38px;
    padding: 0;
    margin-right: 8px;
  }
  
  .portfolio__button--2 {
    width: 93px;
    height: 38px;
    padding: 0;
    margin-right: 8px;
  }
  
  .portfolio__button--3 {
    width: 114px;
    height: 38px;
    padding: 0;
    margin-right: 8px;
  }
  
  .portfolio__button--4 {
    width: 91px;
    height: 38px;
    padding: 0;
    margin-right: 8px;
  }
  
  .portfolio__button--5 {
    width: 121px;
    height: 38px;
    padding: 0;
  }

