:root {
  --black-main: #212121;
  --second-black: #000000;
  --main-blue: #2196f3;
  --background-grey: #2f303a;
  --main-white: #ffffff;
  --second-white: #f5f4fa;
  --main-silver: #757575;
  --border-grey: #ececec;
  --second-border-grey: #eeeeee;
  --icon-footer-grey: rgba(255, 255, 255, 0.1);
  --icon-grey: #afb1b8;
}
