.footer__wrapper {
    display: flex;
    width: 100%;
  }

  .portfolio__buttons__wrapper {
    display: flex;
    justify-content: center;
  }

  .portfolio__main__wrapper {
    position: relative;
    width: 370px;
    height: 294px;
    margin-bottom: 0;
    background-color: #bdbdbd;
    overflow: hidden;
  }